<ng-container *ngIf="categories.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Id</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Актуальная цена</th>
            <th>Дата изготовления</th>
            <th>Время смены цены</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of buns; let i = index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td style="width: 25%;">{{item.price | currency:'RUB':'symbol-narrow'}}</td>
            <td *ngIf="item.actualPrice > 0"
                style="width: 25%;">{{item.actualPrice | currency:'RUB':'symbol-narrow'}}</td>
            <td *ngIf="item.actualPrice <= 0" style="width: 25%; color: red">Срок годности истек!</td>
            <td style="width: 20%;">{{item.timeManufacture | date: 'short'}}</td>
            <td style="width: 20%;">{{item.timeNextChangePrice | date: 'short' }}</td>
            <td>
              <button (click)="removeItem(item)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
        <td>
          <button (click)="addList()" class="btn btn-primary">Добавить несколько</button>
        </td>
        <td>
          <button (click)="editCategory()" class="btn btn-primary">Отредактировать категорию</button>
        </td>
        <td>
          <button class="btn btn-primary" routerLink="main">Запуск пекарни</button>
        </td>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="buns.length ==0">
  <div class="container">
    <div class="center">
      <h4>Булочек пока нет</h4>
    </div>
  </div>
</ng-container>
